<h3>Product Page - Index - {{@publisher.title}}</h3>

{{#each products as |product|}}
  <h4><LinkTo @route="products.show" @model={{product.id}}>{{product.name}}</LinkTo></h4>

  <table>
    {{productTitles}}
    {{#each product.productDataSubset as |data|}}
      <tr>
        {{#each-in data as |title value|}}
          <td>{{value}}</td>
        {{/each-in}}
      </tr>
    {{/each}}
  </table>
{{/each}}

{{outlet}}
