<NavBar />
<HeaderBar @isLarge={{true}} />

<div class='page-wrapper'>
  <div class='table-wrapper'>
    <div class='sub-header'>datasets in this data product</div>

    {{#each products as |product|}}
      <TitleBar @title={{product.name}}>
        <LinkTo @route="products.show" @model={{product.id}} class='subtitle'>expand</LinkTo>
      </TitleBar>
      <DataTable @product={{product}} @productData={{product.productDataSubset}} />
    {{/each}}
  </div>

  <SidebarPanel />
</div>

{{outlet}}
