<NavBar />
<HeaderBar @isLarge={{true}} />

<div class='page-wrapper'>
  <div class='table-wrapper'>
    <div class='sub-header'>datasets in this data product</div>

    {{#each products as |product|}}
      <div class='title-bar'>
        <div class='title'>{{product.name}}</div>
        <LinkTo @route="products.show" @model={{product.id}} class='subtitle'>expand</LinkTo>
      </div>

      <table class='table'>
        <th class='table-row table-row--header'>
          <td class='table-cell table-cell--primary' />
          {{#each product.fieldNames as |fieldName|}}
            <td class='table-cell'>{{fieldName}}</td>
          {{/each}}
        </th>
        {{#each product.productDataSubset as |data index|}}
          <tr class='table-row'>
            <td class='table-cell table-cell--primary'>{{add index 1}}</td>
            {{#each-in data as |title value|}}
              <td class='table-cell'>{{value}}</td>
            {{/each-in}}
          </tr>
        {{/each}}
      </table>
    {{/each}}
  </div>

  <SidebarPanel />
</div>

{{outlet}}
