<HeaderBar @isLarge={{false}} />
<TitleBar @title={{product.name}}>
  <div class='buttons'>
    <GeneralButton>coverage</GeneralButton>
    <GeneralButton @isSecondary={{true}}>download {{fa-icon 'caret-down'}}</GeneralButton>
  </div>
</TitleBar>

<TitleBar>
  <div class='tabs'>
    <div class='tab tab--active'>data sample</div>
    <div class='tab'>coverage</div>
  </div>
</TitleBar>

<DataTable @product={{product}} @productData={{productData}} @withFooter={{true}} />
{{outlet}}
