<h3>Sub-Product Page</h3>

{{link-to 'Product page' 'products'}}

<h4>{{product.name}}</h4>

<table>
  <tr>
    {{#each product.fieldNames as |fieldName|}}
      <td>{{fieldName}}</td>
    {{/each}}
  </tr>

  {{#each productData as |data|}}
    <tr>
      {{#each-in data as |title value|}}
        <td>{{value}}</td>
      {{/each-in}}
    </tr>
  {{/each}}
</table>

{{outlet}}
