<div class='header'>
  {{fa-icon "angle-left"}}
  <img src='/assets/avatar.png' alt="quandl logo">
  <div class=''>Data Publisher</div>
</div>

{{link-to 'Product page' 'products'}}

<h4>{{product.name}}</h4>

<table>
  <tr>
    {{#each product.fieldNames as |fieldName|}}
      <td>{{fieldName}}</td>
    {{/each}}
  </tr>

  {{#each productData as |data|}}
    <tr>
      {{#each-in data as |title value|}}
        <td>{{value}}</td>
      {{/each-in}}
    </tr>
  {{/each}}
</table>

{{outlet}}
