<HeaderBar @isLarge={{false}} />

<div class='title-bar'>
  <h4 class='title'>{{product.name}}</h4>
  <div class='buttons'>
    <div class='button'>coverage</div>
    <div class='button button--secondary'>download {{fa-icon 'caret-down'}}</div>
  </div>
</div>

<div class='title-bar'>
  <div class='tabs'>
    <div class='tab tab--active'>data sample</div>
    <div class='tab'>coverage</div>
  </div>
</div>


<table class='table'>
  <th class='table-row table-row--header'>
    <td class='table-cell table-cell--primary' />
    {{#each product.fieldNames as |fieldName|}}
      <td class='table-cell'>{{fieldName}}</td>
    {{/each}}
  </th>

  {{#each productData as |data index|}}
    <tr class='table-row'>
      <td class='table-cell table-cell--primary'>{{add index 1}}</td>
      {{#each-in data as |title value|}}
        <td class='table-cell'>{{value}}</td>
      {{/each-in}}
    </tr>
  {{/each}}
  <div class='table-footer'>sample rows</div>
</table>

{{outlet}}
