<HeaderBar @isLarge={{false}} />

<div class='title-bar'>
  <h4 class='title'>{{product.name}}</h4>
  <div class='buttons'>
    <div class='button'>coverage</div>
    <div class='button button--secondary'>download {{fa-icon 'caret-down'}}</div>
  </div>
</div>

<div class='title-bar'>
  <div class='tabs'>
    <div class='tab tab--active'>data sample</div>
    <div class='tab'>coverage</div>
  </div>
</div>

<DataTable @product={{product}} @productData={{productData}} @withFooter={{true}} />
{{outlet}}
