<div class='header'>
  {{#link-to 'products' class='link-wrapper'}}
    {{fa-icon "angle-left" class='angle header-item'}}
    <img class='link-image header-item' src='/assets/avatar.png' alt="quandl logo">
    <div class='link-text header-item'>Data Publisher</div>
  {{/link-to}}
</div>

<h4 class='title'>{{product.name}}</h4>

<table>
  <tr>
    {{#each product.fieldNames as |fieldName|}}
      <td>{{fieldName}}</td>
    {{/each}}
  </tr>

  {{#each productData as |data|}}
    <tr>
      {{#each-in data as |title value|}}
        <td>{{value}}</td>
      {{/each-in}}
    </tr>
  {{/each}}
</table>

{{outlet}}
