<HeaderBar @isLarge={{false}} />
<TitleBar @title={{product.name}}>
  <div class='buttons'>
    <div class='button'>coverage</div>
    <div class='button button--secondary'>download {{fa-icon 'caret-down'}}</div>
  </div>
</TitleBar>

<TitleBar>
  <div class='tabs'>
    <div class='tab tab--active'>data sample</div>
    <div class='tab'>coverage</div>
  </div>
</TitleBar>

<DataTable @product={{product}} @productData={{productData}} @withFooter={{true}} />
{{outlet}}
