<HeaderBar @isLarge={{false}} />
<TitleBar @title={{product.name}}>
  <div class='buttons'>
    <GeneralButton>coverage</GeneralButton>
    <GeneralButton @isSecondary={{true}}>download {{fa-icon 'caret-down'}}</GeneralButton>
  </div>
</TitleBar>

<TitleBar>
  <div class='tabs'>
    <TabLink @isActive={{true}} @content={{'data sample'}} />
    <TabLink @content={{'coverage'}} />
  </div>
</TitleBar>

<DataTable @product={{product}} @productData={{productData}} @withFooter={{true}} />
{{outlet}}
